body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

/* headings */
.big-heading {
  color: #fff;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}


/* sections */
.colored-section{
  background-color: #ff4c68;
  color:#fff;
}

.white-section{
  background-color: #fff;
}
#title {
  text-align: left;
}


/* container */
.container-fluid {
  padding: 3% 15% 7%;
}


/* navigation bar */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px 0 18px;
}

.nav-ling {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
}

/* download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* title image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

.image-container {
  position: relative;
}

/* Features */
#features {
  padding: 7% 15%;
  position: relative;
}

.feature-box {
  padding-left: 5%;
}

.title-features {
  font-size: 1.5rem;
  font-weight: 900;
}

.text-features {
  color: #8f8f8f;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* testiomonial  section*/
#testimonials {
  padding: 7% 15%;
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/* press */
#press {
  background-color: #ef8172;
  padding-button: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing */
.mb-3 {
  margin: 0 0.75rem 1rem 0.75rem
}

.price-text {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}

/* Call to action  */
#cta {
  padding: 10% 17%;
}

/* Footer */
#footer {
  padding: 7% 15%;
}

.social-icon {
  margin: 20px 10px;
}

/* Media Query  */
@media(max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
